{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <h1>Result</h1>
        <ul class="list-unstyled participants-form participants o-h mb-3" data-prototype="{{ form_widget(form.participants.vars.prototype)|e('html_attr') }}">
            {# iterate over each existing tag and render its only field: name #}
            {% for participant in form.participants %}
                <li class="item">
                    {{ form_row(participant.inputNumber) }}
                    {% if participant.result is not null %}

                        {{ form_row(participant.result) }}

                    {% endif %}

                </li>
            {% endfor %}
        </ul>

    </div>

{% endblock %}